{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'name.js') }}"
></script>
<script>
  let data = {{data|tojson}}
</script>

<title></title>

<div class="row">
  <div class="col">
    <p class="sub-header-text">Here's a couple of suggested product names for you:</p> 
    <p class="standard-black-text">{{data['numbered_product_names']}}</p>
  </div>
  <div class="col">
    <p class="sub-header-text">Enter the name you want to pick for the product:</p>
    <div class="">
      <input type="text" name="" value="" id="product_name" class="accept-input" placeholder="Name you picked"/>
     </div>
    <div class="">
      <button type="button" name="button" class="btn submit-button" id="submit_product_name">Submit</button>
    </div>

  </div>
</div>





{% endblock %}
