{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'paragraph.js') }}"
></script>
<script>
  let data = {{data|tojson}}
</script>


<div class="row">
  <div class="col">
    <p class="sub-header-text">Here's a suggested paragraph for your product:</p> 
    <p class="standard-black-text">{{data['product_paragraph']}}</p>
    <p class="sub-header-text">Here's also some suggested colours for your website:</p> 
    <p class="standard-black-text">{{data['numbered_product_colours']}}</p>
  </div>
  <div class="col">
    <p class="sub-header-text">Which colour do you want your website to be primarily?</p>
    <div class="">
      <input type="text" name="" value="" id="product_colour" class="accept-input" placeholder="Colour you picked"/>
     </div>
    <div class="">
      <button type="button" name="button" class="btn submit-button" id="submit_product_colour">Submit</button>
    </div>
  </div>
</div>








{% endblock %}
