{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'secondarycolour.js') }}"
></script>
<script>
  let data = {{data|tojson}}
</script>


<div class="row">
  <div class="col">
    <p class="sub-header-text">Here's some suggested complimetary colours for the website:</p> 
    <p class="standard-black-text">{{data['numbered_product_seccolours']}}</p>
  </div>
  <div class="col">
    <p class="sub-header-text">Which secondary colour do you want your website to be?</p>
    <div class="">
      <input type="text" name="" value="" id="product_sscolour" class="accept-input" placeholder="Secondary colour you picked"/>
     </div>
    <div class="">
      <button type="button" name="button" class="btn submit-button" id="submit_product_sscolour">Submit</button>
    </div>
  </div>
</div>



{% endblock %}
