{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'tagline.js') }}"
></script>
<script>
  let data = {{data|tojson}}
</script>


<div class="row">
  <div class="col">
    <p class="sub-header-text">Here's a couple of suggested taglines for your product:</p> 
    <p class="standard-black-text">{{data['numbered_product_taglines']}}</p>
  </div>
  <div class="col">
    <p class="sub-header-text">Enter the tagline you want to pick for the product:</p>
    <div class="">
      <input type="text" name="" value="" id="tagline_name" class="accept-input" placeholder="Tagline you picked"/>
     </div>
    <div class="">
      <button type="button" name="button" class="btn submit-button" id="submit_tagline_name">Submit</button>
    </div>
  </div>
</div>


{% endblock %}
